<a href="https://colab.research.google.com/github/yttr309/python/blob/master/2%EC%9D%BC%EC%B0%A8_2%EA%B5%90%EC%8B%9C_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
b = input('당신의 나이>>>')

당신의 나이>>>99888

In [6]:
type(b)

str

In [13]:
c = int(b)
c, type(c)

(99888, int)

In [3]:
year = int(input('출생년도를 입력>>>'))
print('당신은 ', year, '년에 태어났군요')
age = 2020-year+1
print('당신의 나이는 ', age, '세 입니다.')

출생년도를 입력>>>2002
당신은  2002 년에 태어났군요
당신의 나이는  19 세 입니다.

**Format**
서식지정자

In [10]:
s='a is {}'
s.format('apple')

'a is apple'

In [11]:
a='%s %d개 가격은 %.2f달러'
b=a%('햄버거', 2, 4.0*2)
print(a)
print(b)

%s %d개 가격은 %.2f달러
햄버거 2개 가격은 8.00달러

In [14]:
# 치킨 2마리 가격은 40000원
a='%s %d마리 가격은 %d원'
b=a%('치킨', 2, 20000*2)
print(b)

치킨 2마리 가격은 40000원